PRIVATE_KEY=0xYourPrivateKeyHere
RPC_URL_WIREFLUID=https://evm.wirefluid.com
ETHERSCAN_API_KEY=YourApiKeyHere
VERIFIER_ADDRESS=0xYourVerifierAddressHere
QUEST_ENGINE_ADDRESS=0xYourQuestEngineAddressHere
